/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --title-color: #db00ff;
  --accent-color-rgb-40: rgb(255, 0, 112, 0.4);
  --text-color: #f1b2ce;
}

.theme-dark .rec-indicator {
  position: absolute;
  top: var(--decor-corner-top);
  right: var(--decor-corner-right);
  font-family: var(--main-font), serif;
  font-size: var(--main-font-size);
  text-transform: uppercase;
  color: var(--accent-color);
}

.theme-dark .rec-indicator::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  margin-right: 9px;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
}