/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --title-color: #db00ff;
  --accent-color-rgb-40: rgb(255, 0, 112, 0.4);
  --text-color: #f1b2ce;
}

.rec-indicator {
  position: absolute;
  top: var(--decor-corner-top);
  right: var(--decor-corner-right);
  font-family: var(--main-font), serif;
  font-size: var(--main-font-size);
  text-transform: uppercase;
  color: var(--accent-color);
}

.rec-indicator::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.question-title {
  color: var(--accent-color);
}

.decorated-zone::before {
  border-top-color: var(--accent-color);
  border-right-color: var(--accent-color);
}

.decorated-zone::after {
  border-bottom-color: var(--accent-color);
  border-left-color: var(--accent-color);
}

.header__theme-menu-button {
  color: var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}