/* Основные стили проекта. Это стили для тёмной темы */

.page {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: minmax(0, 1fr);
  gap: 55px;
  min-inline-size: var(--footer-header-width);
  block-size: var(--footer-header-height);
  padding: var(--footer-header-padding);
}

.decorated-zone {
  position: relative;
}

.rec-indicator {
  position: absolute;
  top: var(--decor-corner-top);
  right: var(--decor-corner-right);
  font-family: var(--main-font), serif;
  font-size: var(--main-font-size);
  text-transform: uppercase;
  color: var(--accent-color);
}

.rec-indicator::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: var(--decor-corner-top);
  right: var(--decor-corner-right);
  border-top: 2px solid var(--accent-color);
  border-right: 2px solid var(--accent-color);
}

.decorated-zone::after {
  bottom: var(--decor-corner-bottom);
  left: var(--decor-corner-left);
  border-bottom: 2px solid var(--accent-color);
  border-left: 2px solid var(--accent-color);
}

.header__theme-menu {
  grid-row: 1; 
  justify-self: end;
  align-self: end;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  background-color: transparent;
  border: 0;
  color: var(--accent-color);
  font-family: var(--main-font), serif;
  font-size: var(--main-font-size);
  text-transform: lowercase;
}

.header__theme-menu-button:focus-visible {
  outline: 0;
  text-decoration: underline;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-rgb-40);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.title {
  grid-row: 2;
  justify-self: start;
  align-self: center;
  color: var(--title-color);
  line-height: var(--title-line-height);
  font-family: var(--main-font), serif;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-weight: var(--bold-font);
  text-shadow: 4px 4px 1px var(--accent-color);
}

.header__description {
  grid-row: 3;
  display: grid;
  grid-template-columns: 5fr 1fr;
  justify-self: center;
  align-self: start;
  inline-size: 100%;
  height: min-content;
}

.main {
  display: grid;
  gap: var(--gap-between-sections);
  padding: var(--global-padding);
  max-inline-size: 100%;
  grid-template-columns: minmax(0, 1fr);
}

.title-decor {
  margin-bottom: var(--margin-answer-text);
  background-color: var(--accent-color);
  line-height: var(--accent-line-height);
  font-family: var(--main-font), serif;
  font-size: var(--main-font-size);
  font-weight: var(--bold-font);
  color: var(--accent-text-color);
}

.horizontal-answers-page:has(.gallery) .title-decor {
  margin-bottom: 0;
}

.horizontal-answers-page:has(.gallery) {
  gap: var(--footer-header-padding);
}

.answer-list {
  display: grid;
  list-style: none;
}

.vertical-answers-page {
  display: grid;
  gap: var(--main-gap);
  max-inline-size: 100%;
}

.horizontal-answers-page {
  display: grid;
  gap: var(--main-gap);
  max-inline-size: 100%;
}

.vertical-answers-page > .answer-list {
  display: grid;
  gap: var(--main-gap);
}

.horizontal-answers-page > .answer-list {
  display: grid;
  gap: var(--main-gap);
}

.question-title {
  color: var(--accent-color); 
  font-family: var(--main-font), serif;
  font-size: var(--main-font-size);
  font-weight: var(--bold-font);
}

.main-paragraph {
  color: var(--text-color);
  font-family: var(--main-font), serif;
  font-size: var(--main-font-size);
}

.main-link {
  text-shadow: 2px 2px 1px var(--accent-color);
}

.main-link:hover {
  text-decoration: underline;
}

.main-link:focus-visible {
  display: inline-block;
  outline: 1px solid var(--text-color);
}

.answer-item {
  font-weight: normal;
}

.gallery {
  inline-size: 100%;
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: var(--footer-header-padding);
}

.img-sunset {
  grid-row: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-ice-cream {
  grid-row: 2;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-tape {
  grid-row: 3;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-books {
  grid-row: 4;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.img-street {
  grid-row: 5;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer {
  display: flex;
  min-inline-size: var(--footer-header-width);
  block-size: var(--footer-header-height);
  padding: var(--footer-header-padding);
}

.footer > .title {
  margin: auto;
  text-align: center;
  text-shadow: 2px 2px 1px var(--accent-color);
}

/* стили для экрана больше 768px по ширине */
@media (width >= 768px) {
  :root {
    --global-padding: 60px 20px;
    --footer-header-padding: 20px;
    --gap-between-sections: 80px;
    --decor-corner-top: 20px;
    --decor-corner-bottom: 20px;
    --decor-corner-right: 20px;
    --decor-corner-left: 20px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .rec-indicator {
    right: 25px;
    top: 20px;
  }

  .rec-indicator::after {
    margin-left: 10px;
    margin-right: 9px;
  }

  .header__description {
    justify-self: end;
    align-self: start;
    inline-size: 50%;
  }

  .vertical-answers-page {
    grid-template-columns: 1fr 2fr;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  }

  .img-books {
    grid-area: books;
    object-fit: cover;
  }

  .img-ice-cream {
    grid-area: ice-cream;
    object-fit: cover;
  }

  .img-street {
    grid-area: street;
    object-fit: cover;
  }

  .img-sunset {
    grid-area: sunset;
    object-fit: cover;
  }

  .img-tape {
    grid-area: tape;
    object-fit: cover;
  }
}

/* стили для экрана больше 1024px по ширине */
@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .horizontal-answers-page {
    grid-template-rows: min-content 1fr;
  }

  .horizontal-answers-page > .answer-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}