/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  width: 1024px;
  height: 768px;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 20px 20px 20px 0px;
}

.decorated-zone {
  position: relative;
  margin: 20px 20px;
  width: 984px;
  height: 728px;
}

.rec-indicator {
  position: absolute;
  right: 25px;
  top: 20px;
  font-family: var(--main-font), serif;
  font-size: var(--main-font-size);
  text-transform: uppercase;
  color: var(--accent-color);
}

.rec-indicator::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  margin-right: 9px;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
}

.decorated-zone::before {
  top: 20px;
  right: 20px;
  border-top: 2px solid var(--accent-color);
  border-right: 2px solid var(--accent-color);
}

.decorated-zone::after {
  bottom: 20px;
  left: 20px;
  border-bottom: 2px solid var(--accent-color);
  border-left: 2px solid var(--accent-color);
}

.header__theme-menu {
  grid-row: 1;
  justify-self: center;
  align-self: start;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  background-color: transparent;
  border: 0;
  color: var(--accent-color);
  font-family: var(--main-font), serif;
  font-size: var(--main-font-size);
  text-transform: lowercase;
}

.header__theme-menu-button:focus-visible {
  outline: 0;
  text-decoration: underline;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-rgb-40);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
  list-style: none;
}

.title {
  grid-row: 2;
  justify-self: start;
  align-self: center;
  width: 759px;
  height: 130px;
  color: var(--title-color);
  font-family: var(--main-font), serif;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: var(--bold-font);
  text-shadow: 4px 4px 1px var(--accent-color);
}

.header__description {
  grid-row: 3;
  justify-self: end;
  align-self: center;
  width: 491px;
  height: 71px;
}

.main {
  display: grid;
  gap: var(--global-gap);
  padding: var(--global-padding);
}

.title-decor {
  background-color: var(--accent-color);
  font-family: var(--main-font), serif;
  font-size: var(--main-font-size);
  font-weight: var(--bold-font);
  color: var(--accent-text-color);
}

.answer-list {
  display: grid;
  list-style: none;
}

.vertical-answers-page {
  display: grid;
  grid-template-columns: 315px auto;
  gap: var(--main-gap);
}

.horizontal-answers-page {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: var(--main-gap);
}

.vertical-answers-page > .answer-list {
  display: grid;
  gap: var(--main-gap);
  width: 649px;
}

.horizontal-answers-page > .answer-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--main-gap);
  width: 984px;
}

.question-title {
  color: var(--accent-color); 
  font-family: var(--main-font), serif;
  font-size: var(--main-font-size);
  font-weight: var(--bold-font);
}

.main-paragraph {
  color: var(--text-color);
  font-family: var(--main-font), serif;
  font-size: var(--main-font-size);
}

.main-link {
  text-shadow: 2px 2px 1px var(--accent-color);
}

.main-link:hover {
  text-decoration: underline;
}

.main-link:focus-visible {
  display: inline-block;
  outline: 1px solid var(--text-color);
}

.answer-item {
  font-weight: normal;
}

.gallery {
  height: 1028px;
  display: grid;
  gap: var(--main-gap);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}

.img-sunset {
  grid-area: sunset;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-ice-cream {
  grid-area: ice-cream;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-tape {
  grid-area: tape;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-books {
  grid-area: books;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-street {
  grid-area: street;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  padding: 20px;
}

.footer > .title {
  margin: auto;
  text-align: center;
  text-shadow: 2px 2px 1px var(--accent-color);
}