/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --title-color: #db00ff;
  --accent-color-rgb-40: rgb(255, 0, 112, 0.4);
  --text-color: #f1b2ce;

  --main-font: "IBM Plex Mono";
  --main-font-size: 18px;
  --bold-font: bold;

  --main-gap: 20px;
  --global-gap: 80px;
  --global-padding: 60px 20px;
}
