/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --title-color: #db00ff;
  --accent-color-rgb-40: rgb(255, 0, 112, 0.4);
  --text-color: #f1b2ce;

  --main-font: "IBM Plex Mono";
  --main-font-size: 18px;
  --bold-font: bold;
  --title-line-height: 82.5%;
  --accent-line-height: 23.4px;

  --footer-header-width: 375px;
  --footer-header-height: 100vh;
  --main-gap: 20px;
  --global-gap: 80px;
  --global-padding: 60px 20px;
  --header-padding: 10px;
  --decor-corner-top: 10px;
  --decor-corner-bottom: 10px;
  --decor-corner-right: 10px;
  --decor-corner-left: 10px;
}
